<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <title>十一出行先看看旅伴靠谱啵</title>
    <link rel="stylesheet" href="stylesheets/result.css">
  </head>
  <body ms-controll="info">
    <div class="result container">
    	<!-- 顶部头像 -->
    	<div class="result-header">
			<img class="potrait-img" >
			<div class="share-text">
				<span class="share-text-name"></span>
				<p>想要和你一起旅行</p>
			</div>
    	</div>

        <!-- 匹配文案框 -->
        <div class="match-box">
            <p ms-if="match=='100%'" class="match-text match10">无法分辨你们的差异，系统已经宕机，跪求赶紧出行。</p>
            <p ms-if="match=='90%'" class="match-text match9 ">系统显示差一点你们就能合体出行。</p>
            <p ms-if="match=='80%'" class="match-text match8 ">还可以，缺一点也可以一起出行嘛~</p>
            <p ms-if="match=='70%'" class="match-text match7 ">另外的30%大概是留在宇宙黑洞了。</p>
            <p ms-if="match=='60%'" class="match-text match6 ">踏上及格线，友情勉强稳固住了！</p>
            <p ms-if="match=='50%'" class="match-text match5 ">系统显示要么你的灵魂要么ta的肉体，还在旅途之中忘记归来。</p>
            <p ms-if="match=='40%'" class="match-text match4 ">友情破裂拳重重袭来！接受旅途中的狂风吧！</p>
            <p ms-if="match=='30%'" class="match-text match3 ">这靠谱程度简直岌岌可危，然而还可以抢救一下！</p>
            <p ms-if="match=='20%'" class="match-text match2 ">不好意思，你们只是路过一下。</p>
            <p ms-if="match=='10%'" class="match-text match1 ">系统显示你们离革命的成功友情仿佛破裂啊。</p>
            <p ms-if="match=='0%'" class="match-text match0 ">推荐你们分开旅行</p>
        </div>

        <!-- 路过的人 -->
        <div class="passby-box">
            <!-- 文案 -->
            <div class="passby-text">
                <img class="passby-img" src="images/passengers.png">
            </div>

            <!-- 马甲头像 -->
            <ul class="vest-list">
                <li class="vest">
                    <img src="images/photo.jpg">
                </li>
                <li class="vest">
                    <img src="images/photo.jpg">
                </li>
                <li class="vest">
                    <img src="images/photo.jpg">
                </li>
                <li class="vest">
                    <img src="images/photo.jpg">
                </li>
                <li class="vest">
                    <img src="images/photo.jpg">
                </li>
                <li class="vest">
                    <img src="images/photo.jpg">
                </li>
                <li class="vest">
                    <img src="images/photo.jpg">
                </li>
                <li class="vest">
                    <img src="images/photo.jpg">
                </li>
                <li class="vest">
                    <img src="images/photo.jpg">
                </li>
                <li class="vest">
                    <img src="images/photo.jpg">
                </li>
                <div class="clear"></div>
            </ul>
            <!-- 按钮 -->
            <div class="btn-share">
                <p class="btn-share-text">点击分享</p>
            </div>

        </div>

        <!-- 底部logo -->
        <div class="bottom-logo "></div>


        <!-- 关注马甲的弹窗 -->
        <div class="open-box container hide" >
            <div class="open">
                <!-- <div class="follow"> -->

                    <div class="follow-img">
                        <img src="images/photo.jpg">
                    </div>
                    <div class="follow-text">
                        <p>林志玲</p>
                        <a href="">点击关注</a>
                    </div>
                <!-- </div> -->
                <!-- 点击关闭弹窗 -->
                <div class="close">×</div>

            </div>
        </div>


        <!-- 分享引导蒙层 -->
        <div class="share-intro hide">
            <img src="images/share_intro.png">
        </div>
    </div>



  </body>
  <script src="javascripts/jquery-1.10.1.min.js"></script>
  <script src="javascripts/avalon.min.js"></script>
  <script src="javascripts/result.js"></script>
  <script>

    var selfInfo = JSON.parse('<%-selfInfo%>');
    var shareInfo = JSON.parse('<%-shareInfo%>');
    var vestInfo = '<%-result%>';
    vestInfo = vestInfo.split('*');
    for(var i =0;i<vestInfo.length;i++){
      vestInfo[i] = JSON.parse(vestInfo[i]);
    }
    console.log(selfInfo.answer);//
    console.log(shareInfo.answer);//
    console.log(vestInfo[0].answer);//
    $('.share-text-name').html(shareInfo.name);
    $('.potrait-img').attr('src',shareInfo.img);
</script>


</html>
