<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <title>十一出行先看看旅伴靠谱啵</title>
    <link rel="stylesheet" href="stylesheets/result.css">
    <script src="javascripts/vue.js"></script>
  </head>
  <body id="info">
    <div class="result container">
    	<!-- 顶部头像 -->
    	<div class="result-header">

  			<img class="potrait-img" v-bind:src=shareInfo.img>
  			<div class="share-text">
  				<span class="share-text-name">{{shareInfo.name}}</span>
  				<p>想要和你一起旅行</p>
  			</div>
    	</div>

        <!-- 匹配文案框 -->
        <div class="match-box">
            <p class="match-text match-{{shareInfo.match}}" value="{{shareInfo.match}}">{{match_text}}</p>
        </div>

        <!-- 路过的人 -->
        <div class="passby-box">
            <div class="passby-text">
                <img class="passby-img" src="images/passengers.png">
            </div>

            <!-- 马甲头像 -->
            <ul class="vest-list">
                <li class="vest" v-for="el in vestInfo">
                    <img value={{$index}} v-bind:src=el.img>
                </li>
                <div class="clear"></div>
            </ul>
            <!-- 按钮 -->
            <div class="btn-share">
                <p class="btn-share-text">点击分享</p>
            </div>

        </div>

        <!-- 底部logo -->
        <div class="bottom-logo "></div>

        <!-- 关注马甲的弹窗 -->
        <div class="open-box container hide" >
            <div class="open">
                <!-- <div class="follow"> -->
                    <div class="follow-img">
                        <img class="vest-img">
                    </div>
                    <div class="follow-text">
                        <p class="vest-name"></p>
                        <p class="vest-match"></p>
                        <a class="btn-follow" href="">点击关注</a>
                    </div>
                <!-- </div> -->
                <!-- 点击关闭弹窗 -->
                <div class="close">×</div>
            </div>
        </div>


        <!-- 分享引导蒙层 -->
        <div class="share-intro hide">
            <img src="images/share_intro.png">
        </div>
    </div>
  </body>

  <%include include_share1.ejs%>

   <script src="javascripts/jquery-1.10.1.min.js"></script>
   <script type="text/javascript">
   </script>

  <script>
    var selfInfo = JSON.parse('<%-selfInfo%>');
    var shareInfo = JSON.parse('<%-shareInfo%>');
    var vestInfo = '<%-result%>';
    vestInfo = vestInfo.split('*');
    for(var i =0;i<vestInfo.length;i++){
      vestInfo[i] = JSON.parse(vestInfo[i]);
    }
    var selfAnser = selfInfo.answer.split('-');
    var shareAnser = shareInfo.answer.split('-');
    for (var i = 0; i < vestInfo.length; i++) {
        vestInfo[i].answer = vestInfo[i].answer.split(',');
    };
    console.log(selfInfo);
</script>
<script src="javascripts/result.js"></script>

</html>
