<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <title><%=title%></title>
    <link rel="stylesheet" href="stylesheets/result.css">


  </head>
  <body>
  	<!-- <div class="music-box">
    	<img class="music-img" src="images/index_2.png">
    </div> -->

 

    <!-- 第一题 -->
    <div class="result container">
    	<!-- 顶部头像 -->
    	<div class="result-header">
			<img class="potrait-img" src="images/photo.jpg">
			<div class="share-text">
				<span>杨洋</span>
				<p>想要和你一起旅行</p>
			</div>
    	</div>

        <!-- 匹配文案框 -->
        <div class="match-box">
            无法分辨你们的差异，系统已经当机。跪求赶紧出行。
        </div>

        <!-- 路过的人 -->
        <div class="passby-box">
            <!-- 文案 -->
            <div class="passby-text">
                <img class="passby-img" src="images/passengers.png">
            </div>

            <!-- 马甲头像 -->
            <ul class="vest-list">
                <li class="vest">
                    <img src="images/photo.jpg">
                </li>
                <li class="vest">
                    <img src="images/photo.jpg">
                </li>
                <li class="vest">
                    <img src="images/photo.jpg">
                </li>
                <li class="vest">
                    <img src="images/photo.jpg">
                </li>
                <li class="vest">
                    <img src="images/photo.jpg">
                </li>
                <li class="vest">
                    <img src="images/photo.jpg">
                </li>
                <li class="vest">
                    <img src="images/photo.jpg">
                </li>
                <li class="vest">
                    <img src="images/photo.jpg">
                </li>
                <li class="vest">
                    <img src="images/photo.jpg">
                </li>
                <li class="vest">
                    <img src="images/photo.jpg">
                </li>
                <div class="clear"></div>
            </ul>
            <!-- 按钮 -->
            <div class="btn-share">
                <p class="btn-share-text">点击分享</p>
            </div>
            
        </div>

        <!-- 底部logo -->
        <div class="bottom-logo ">
            
        </div>


        <!-- 关注马甲的弹窗 -->
          <div class="open-box container hide" >
            <div class="open">
                <div class="follow">
                 点击关注马甲
             </div>
              <!-- 点击关闭弹窗 -->
            <div class="close">×</div>

            </div>
            </div>
             
        </div>



        <!-- 分享引导蒙层 -->
        <div class="share-intro hide">
            <img src="images/photo.jpg">
        </div>




    	
    	
    </div>
    
  </body>
  <script src="javascripts/jquery-1.10.1.min.js"></script>
  <script src="javascripts/result.js"></script>


</html>

