<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>参与游戏名单</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  </head>
  <body id="show">
    <table class="table table-striped">
       <thead>
         <tr>
           <th>名称</th>
           <th>答案</th>
         </tr>
       </thead>
       <tbody>
         <%for(var i = 27;i<info.length;i++){%>
           <tr>
             <td ><%=info[i].name%></td>
             <td ><%=info[i].answer%></td>
           </tr>
         <%}%>
       </tbody>
    </table>
  </body>
  <script type="text/javascript" src="javascripts/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
</html>
